
* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  min-height: 0;
}



:root {
  --primary-color: #569373; 
  --secondary-color: #a57340; 
  --accent-color: #8a2f05; 
  --light-color: #eef4d4;
  --white-color: #ffffff;
  --black-color: #000000;
  
}

